In [1]:
#import libraries
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline
#We are setting the seed to assure you get the same answers on quizzes as we set up
random.seed(42)

In [4]:
df = pd.read_csv("/Users/olgakomissarova/Desktop/ab_data.csv")
df.head(20)

    user_id                   timestamp      group landing_page  converted
0    851104  2017-01-21 22:11:48.556739    control     old_page          0
1    804228  2017-01-12 08:01:45.159739    control     old_page          0
2    661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3    853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4    864975  2017-01-21 01:52:26.210827    control     old_page          1
5    936923  2017-01-10 15:20:49.083499    control     old_page          0
6    679687  2017-01-19 03:26:46.940749  treatment     new_page          1
7    719014  2017-01-17 01:48:29.539573    control     old_page          0
8    817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9    839785  2017-01-15 18:11:06.610965  treatment     new_page          1
10   929503  2017-01-18 05:37:11.527370  treatment     new_page          0
11   834487  2017-01-21 22:37:47.774891  treatment     new_page          0
12   803683  2017-01-09 06:05:16.222706  treatment     new_page          0
13   944475  2017-01-22 01:31:09.573836  treatment     new_page          0
14   718956  2017-01-22 11:45:11.327945  treatment     new_page          0
15   644214  2017-01-22 02:05:21.719434    control     old_page          1
16   847721  2017-01-17 14:01:00.090575    control     old_page          0
17   888545  2017-01-08 06:37:26.332945  treatment     new_page          1
18   650559  2017-01-24 11:55:51.084801    control     old_page          0
19   935734  2017-01-17 20:33:37.428378    control     old_page          0

In [5]:
# Check # of rows
df.shape

(294478, 5)

In [6]:
# Check # of unique users
df['user_id'].nunique()

290584

In [7]:
# when treatment and new landing dont line up
df.query('(group == "treatment" and landing_page == "old_page") or (group == "control" and landing_page == "new_page")').count()

user_id         3893
timestamp       3893
group           3893
landing_page    3893
converted       3893
dtype: int64

In [8]:
# check missing values

df.isnull().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

In [9]:
# create a new df where we remove misalignment in 3893 cases
df2 = df.drop(df.query('(group == "treatment" and landing_page == "old_page") or (group == "control" and landing_page == "new_page")').index)
print(df.shape)
print(df2.shape)

(294478, 5)
(290585, 5)

In [10]:
# Double Check all of the correct rows were removed - this should be 0
df2[((df2['group'] == 'treatment') == (df2['landing_page'] == 'new_page')) == False].shape[0]

0

In [11]:
# checking for uniqueness of user_id
df2.user_id.value_counts()
# the user ID is "773192" is repeated

773192    2
630836    1
634271    1
753093    1
751044    1
         ..
803549    1
809694    1
807647    1
895712    1
630732    1
Name: user_id, Length: 290584, dtype: int64

In [12]:
# drop 1 case for user ID is "773192"
df2.drop(1899,inplace=True)
df2.reset_index(drop=True,inplace=True)
df2.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [13]:
# probability of an individual converting 
df2.converted.mean()

0.11959708724499628

In [14]:
# probability for control to convert
df2.query('group == "control"').converted.mean()

0.1203863045004612

In [15]:
# probability for treatment to convert
df2.query('group == "treatment"').converted.mean()

0.11880806551510564